@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/************variables***********/
/***************mixins**********************/
/******************************************/
body {
  box-sizing: border-box;
  margin: 0 100px;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul {
  padding: 0;
}

.no_list_style {
  list-style: none;
}

/****************************************Page Home*************************************/
.Header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}
.Header__logo {
  width: 200px;
}
.Header__links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  gap: 75px;
}
.Header__links a {
  color: #000;
  text-decoration: none;
}
.Header__links a:hover {
  text-decoration: underline;
}

.Banner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 10px 0;
  border-radius: 30px;
  width: 100%;
  height: 230px;
  position: relative;
  z-index: 1;
}
.Banner__homeFilter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px;
  z-index: 2;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.5);
  filter: drop-shadow(0px 5px 0.2rem rgba(0, 0, 0, 0.459));
}
.Banner__aboutFilter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px;
  z-index: 2;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.3);
}
.Banner__text {
  position: absolute;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px 5px #000;
  z-index: 2;
}
.Banner img {
  border-radius: 30px;
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 1;
}

/*******Cards***********/
.Card {
  display: flex;
  list-style: none;
  width: 360px;
  height: 360px;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.3));
}
.Card__wrapper {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px 0;
  margin-bottom: 50px;
  justify-content: space-evenly;
  background-color: #F6F6F6;
  border-radius: 20px;
  gap: 59px;
  padding: 59px;
  flex-wrap: wrap;
}
.Card img {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 15px;
  -webkit-backdrop-filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.603));
          backdrop-filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.603));
}
.Card__gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 360px;
  border-radius: 15px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  z-index: 2;
}
.Card__title {
  position: absolute;
  z-index: 3;
  top: 300px;
  left: 20px;
  right: 20px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  padding: 18px 0 8px 0;
}
.Footer img {
  padding-top: 50px;
  width: 8vw;
}
.Footer p {
  margin-top: 40px;
  font-size: 24px;
}

/***********************************Page About (à propos)************************************/
.About__container {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.Collapse {
  position: relative;
  z-index: 2;
  background-color: #FF6060;
  width: 100%;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}
.Collapse__container {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  gap: 80px;
}
.Collapse__container > .Collapse {
  flex: 1;
}
.Collapse__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 85%; /* Ajuste cette valeur selon la taille souhaitée */
  margin: 0 auto;
  flex: 1 1;
}
.Collapse__content {
  width: 96%;
  list-style: none;
  position: relative;
  top: -50px;
  overflow: hidden;
  height: 0;
  transition: height 0.4s ease, transform 0.4s ease;
  transform: translateY(0px);
}
.Collapse__content.open {
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
  transform: translateY(50px);
  transition: height 0.4s ease, transform 0.4s ease;
}
.Collapse__content--inner {
  padding: 5px 0;
  text-align: left;
  width: 100%;
}
.Collapse__content--inner ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.Collapse div, .Collapse img {
  padding: 10px 15px;
}

.Arrow {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}
.Arrow.open {
  transform: rotate(-180deg);
}

/*************************************Page Logement***************************************/
.SlideShow {
  padding-top: 20px;
  overflow: hidden;
}
.SlideShow__pics {
  min-width: 100%;
  height: 442px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  position: relative;
  z-index: 1;
}

.carrousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carrousel__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 441px;
  position: absolute;
  z-index: 2;
  top: 165px;
  border-radius: 30px 0 0 30px;
  right: 100px;
}
.carrousel__left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 441px;
  position: absolute;
  z-index: 2;
  top: 165px;
  border-radius: 0 30px 30px 0;
  left: 100px;
}
.carrousel__arrows {
  cursor: pointer;
}

.imageCount {
  position: absolute;
  top: 560px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 2;
}
.imageCount__center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/**********Détails location********/
.location__container {
  display: flex;
  justify-content: space-between;
}
.location__title {
  color: #FF6060;
  font-size: 36px;
  margin-bottom: 0;
  font-weight: 500;
}
.location__taglist {
  display: flex;
  gap: 10px;
}
.location__taglist li {
  background-color: #FF6060;
  color: #fff;
  font-weight: 600;
  text-align: center;
  padding: 5px 15px;
  min-width: 85px;
  border-radius: 20px;
}
.location p {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
}

/********Détails propriétaire**********/
.owner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 230px;
  color: #FF6060;
}
.owner__profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.owner__stars {
  padding-left: 18px;
}
.owner p {
  display: flex;
  justify-content: right;
}
.owner p span {
  text-align: right;
  max-width: 80px;
  line-height: 1.5;
  font-weight: 500;
}
.owner__pic {
  margin-left: 10px;
  height: 80px;
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}

/*****************************************Page Error404**************************************/
.Error404 {
  color: #FF6060;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Error404 h1 {
  font-size: 19em;
  margin: 0.2em;
}
.Error404 h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 200px;
  margin-top: 47px;
  text-align: center;
}
.Error404__link {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 100px;
}

/******************************************************************************************/
/*******************************************RESPONSIVE*************************************/
/******************************************************************************************/
@media (max-width: 768px) {
  body {
    margin: 20px 30px;
  }
  /*********Page Home*********/
  .Header {
    padding: 10px 0;
    margin-bottom: 30px;
  }
  .Header__logo {
    width: 35vw;
  }
  .Header__links {
    text-transform: uppercase;
    font-size: 1em;
    gap: 60px;
  }
  .Banner {
    justify-content: flex-start;
    height: 160px;
  }
  .Banner__text {
    margin: 0 20px;
    font-size: 34px;
    width: 330px;
  }
  .Banner__homeFilter {
    height: 160px;
  }
  .Banner__aboutFilter {
    height: 160px;
  }
  .Banner img {
    height: 160px;
  }
  .Card {
    width: 100%;
    height: 350px;
  }
  .Card__wrapper {
    background-color: #fff;
    width: 100%;
    padding: 0;
    gap: 25px;
  }
  .Card__gradient {
    width: 100%;
    height: 100%;
  }
  .Card a {
    width: 100%;
  }
  .Card__title {
    top: 275px;
    font-size: 24px;
  }
  .Footer img {
    width: 25vw;
  }
  .Footer p {
    margin-top: 20px;
    font-size: 20px;
    width: 190px;
    text-align: center;
    padding-bottom: 50px;
  }
  /*********Page About (à propos)*********/
  .Collapse__container {
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
  }
  .Collapse__wrapper {
    max-width: 100%;
  }
  .Collapse__content--inner {
    font-size: 20px;
  }
  /*********Page Error404*********/
  .Error404 h1 {
    font-size: 8.5em;
    margin: 1em;
  }
  .Error404 h2 {
    display: inline;
    font-size: 24px;
    text-align: center;
  }
  .Error404__link {
    margin-bottom: 150px;
    font-size: 20px;
  }
  .Error404__span {
    display: block;
  }
  /*********Page Logement*********/
  .carrousel__right {
    right: 25px;
  }
  .carrousel__left {
    left: 25px;
  }
  .carrousel__arrows {
    width: 25%;
  }
  .location__details p {
    font-size: 24px;
    font-weight: 600;
  }
  .location__container {
    flex-direction: column;
  }
  .owner {
    flex-direction: row-reverse;
    max-width: 100%;
    justify-content: space-between;
  }
  .owner__stars {
    padding-left: 13px;
    width: 30px;
    height: 30px;
  }
  .owner p {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .Collapse__wrapper {
    margin: 0;
  }
}/*# sourceMappingURL=App.css.map */