@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.Header{
  padding:40px 105px;
  display:flex;
  width:auto;
  justify-content: space-between;
  align-items: center;
  &__logo{
    width:15vw;
  }
  &__links{
    display: flex;
    font-size: 24px;
    font-weight: 500;
    gap:75px;
    & a{
      color: black;
      text-decoration:none;
    }
    & a:hover{
      text-decoration:underline;
    }
  }
}

.Banner{
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  margin: 10px auto;
  border-radius:30px;
  width:85vw;
  object-fit: cover;
  object-position: center;
  background-position: top;
  height:230px;
  position:relative;
  z-index:1;
  &__home{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:230px;
  border-radius:30px;
    background: rgba(0, 0, 0, 0.5);
    z-index:2;
    filter: drop-shadow(0px 5px 0.2rem rgba(0, 0, 0, 0.459));
  }
  &__about{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:230px;
    border-radius:30px;
    background: rgba(0, 0, 0, 0.3);
    z-index:2;
  }

  &__text{
    position: absolute;
    font-size:48px;
    font-weight: 700;
    // -webkit-text-stroke: 1px black;
    text-shadow: 3px 3px 5px black;
    z-index:2;
  }
  & img {
    border-radius: 30px;
    width: 100%;
    object-fit: cover;
    height: 230px;
    position: relative;
    z-index: 1;
    }
}


/********************Cards******************************/
.Card {
  display: flex;
  list-style: none;
  width: 360px;
  height: 360px;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.3));
  &__wrapper{
    display: flex;
    width: 78vw;
    margin: 40px auto;
    margin-bottom: 50px;
    justify-content: space-evenly;
    background-color: #F6F6F6;
    border-radius: 20px;
    gap: 58px;
    padding: 58px;
    flex-wrap: wrap;
  }
  & img {
    object-fit: cover;
    position:relative;
    width:100%;
    z-index:1;
    border-radius:15px;
    backdrop-filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.603));
  }
  &__gradient{
    position: absolute;
    top:0;
    left:0;
    width:360px;
    height:360px;
    border-radius:15px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5) );
    z-index:2;
  }
  &__title{
    position: absolute;
    z-index:3;
    top: 300px;
    left: 20px;
    right: 20px;
    color: white;
    font-weight: 500;
    font-size:18px;
  }

}
                  
.Footer{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding: 18px 0  8px 0;
  & img{
    padding-top:50px;
    width:8vw;
   }
  & p{
    margin-top:40px;
    font-size:24px;
   }
}

.About__container{
  margin:30px 0;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.Collapse{
  position: relative;
  z-index: 2;
  background-color: #FF6060;
  width:100%;
  color:white;
  font-size:24px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin:10px;
  cursor: pointer;
  &__wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%; /* Ajuste cette valeur selon la taille souhaitée */
    margin: 0 auto;
  }
  & div, & img{
    padding:10px 15px;
  }
}

  .Arrow {
    transition: transform 0.3s ease;
    transform: rotate(0deg);
  }

  .Arrow.open {
    transform: rotate(-180deg);
  }

  .Collapse__content {
    width:96%;
    position: relative;
    top:-50px;
    overflow: hidden;
    height: 0;
    transition: height 1s ease, transform 1s ease;
    transform: translateY(0px); 
     transition-duration: 0.5s;
   }

  .Collapse__content.open {
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
    height: 500px; 
    transform: translateY(50px); 
    transition: height 0.4s ease, transform 0.4s ease,;
  }
  
  .Collapse__content__inner {
    padding: 5px 0;
    text-align: left;
    width: 100%;
    & p{
      margin:0;
    }
  }



.Error404{
  color:#FF6060;
  display:flex;
  flex-direction: column;
  align-items: center;
  & h1{
    font-size: 19em;
    margin:0.2em;
  }
  & h2{
    font-size: 36px;
    font-weight:500;
    margin-bottom:200px;
    margin-top: 47px;;
  }
  &__link{
    color:black;
    font-size:18px;
    font-weight:500;
    margin-bottom:100px;
  }
}

