@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  box-sizing: border-box;
  margin: 0 100px;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul{
  padding:0;
}

.list_hidden{
  list-style: none;
}

.Header{
  padding:40px 0;
  display:flex;
  width:auto;
  justify-content: space-between;
  align-items: center;
  &__logo{
    width:200px;
  }
  &__links{
    display: flex;
    font-size: 24px;
    font-weight: 500;
    gap:75px;
    & a{
      color: black;
      text-decoration:none;
    }
    & a:hover{
      text-decoration:underline;
    }
  }
}

.Banner{
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  margin: 10px 0;
  border-radius:30px;
  width:100%;
  object-fit: cover;
  object-position: center;
  background-position: top;
  height:230px;
  position:relative;
  z-index:1;
  &__home{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:230px;
  border-radius:30px;
    background: rgba(0, 0, 0, 0.5);
    z-index:2;
    filter: drop-shadow(0px 5px 0.2rem rgba(0, 0, 0, 0.459));
  }
  &__about{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:230px;
    border-radius:30px;
    background: rgba(0, 0, 0, 0.3);
    z-index:2;
  }

  &__text{
    position: absolute;
    font-size:48px;
    font-weight: 700;
    // -webkit-text-stroke: 1px black;
    text-shadow: 3px 3px 5px black;
    z-index:2;
  }
  & img {
    border-radius: 30px;
    width: 100%;
    object-fit: cover;
    height: 230px;
    position: relative;
    z-index: 1;
    }
}


/********************Cards******************************/
.Card {
  display: flex;
  list-style: none;
  width: 360px;
  height: 360px;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.3));
  &__wrapper{
    display: flex;
    width: fit-content;
    margin: 40px 0;
    margin-bottom: 50px;
    justify-content: space-evenly;
    background-color: #F6F6F6;
    border-radius: 20px;
    gap: 59px;
    padding: 59px;
    flex-wrap: wrap;
  }
  & img {
    object-fit: cover;
    position:relative;
    width:100%;
    height: 100%;
    z-index:1;
    border-radius:15px;
    backdrop-filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.603));
  }
  &__gradient{
    position: absolute;
    top:0;
    left:0;
    width:360px;
    height:360px;
    border-radius:15px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5) );
    z-index:2;
  }
  &__title{
    position: absolute;
    z-index:3;
    top: 300px;
    left: 20px;
    right: 20px;
    color: white;
    font-weight: 500;
    font-size:18px;
  }

}
                  
.Footer{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding: 18px 0  8px 0;
  & img{
    padding-top:50px;
    width:8vw;
   }
  & p{
    margin-top:40px;
    font-size:24px;
   }
}

.About__container{
  margin:30px 0;
  display: flex;
  flex-direction: column;
  gap: 13px;
}


.Collapse{
  position: relative;
  z-index: 2;
  background-color: #FF6060;
  width:100%;
  color:white;
  font-size:24px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin:10px;
  cursor: pointer;
  &__container{
    display: flex;
    // flex: 1 1 0;
    width:100%;
    margin-bottom: 40px;
    justify-content: space-between;
    gap:80px;
    &> .Collapse{
      flex:1;
    }
  }
  &__wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 85%; /* Ajuste cette valeur selon la taille souhaitée */
    margin: 0 auto;
    flex:1 1;
  }
  &__content {
    width:96%;
    list-style: none;
    position: relative;
    top:-50px;
    overflow: hidden;
    height: 0;
    transition: height 0.4s ease, transform 0.4s ease;
    transform: translateY(0px); 
   }
   &__content.open {
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
    height: 500px; 
    transform: translateY(50px); 
    transition: height 0.4s ease, transform 0.4s ease,;
  }
  &__content--inner {
    padding: 5px 0;
    text-align: left;
    width: 100%;
    & ul{
      list-style: none;
      margin:0;
      padding-left:0;
    }
  }
  & div, & img{
    padding:10px 15px;
  }
}

  .Arrow {
    transition: transform 0.3s ease;
    transform: rotate(0deg);
  }

  .Arrow.open {
    transform: rotate(-180deg);
  }

.location{
  &__container{
    display: flex;
    justify-content: space-between;
  }
  &__title{
  color:#FF6060;
  font-size: 36px;
  margin-bottom: 0;
  font-weight: 500;
  }
  &__taglist{
    display: flex;
    gap:10px;
    & li{
    background-color: #FF6060;
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding:5px 15px;
    min-width: 85px;
    border-radius: 20px;
    }
  }
  & p{
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
  }
}


.owner{
  display: flex;
  flex-direction: column;
  max-width :230px;
  color: #FF6060;
  &__profile{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__stars{
    padding-left:18px;
  }
  & p{
    display: flex;
    justify-content: right;
    & span{
      text-align: right;
      max-width:80px;
      line-height: 1.5;
      font-weight: 500;
    }
  }
  &__pic{
    margin-left: 10px;
    height:80px;
    width:80px;
    object-fit: cover;
    border-radius: 40px;
    // clip-path: circle(50%)
  }
}




.Error404{
  color:#FF6060;
  display:flex;
  flex-direction: column;
  align-items: center;
  & h1{
    font-size: 19em;
    margin:0.2em;
  }
  & h2{
    font-size: 36px;
    font-weight:500;
    margin-bottom:200px;
    margin-top: 47px;
    text-align:center;
  }
  &__link{
    color:black;
    font-size:18px;
    font-weight:500;
    margin-bottom:100px;
  }
}

.SlideShow__pic{
padding-top:20px;
display: flex;
overflow: hidden;
margin: auto;
width:100%;
height:442px;

}

.pics{
width:100%;
height:442px;
object-fit: cover;
border-radius:30px;
position: relative;
z-index:1;
}

.carrousel{
  display:flex;
  justify-content: space-between;
  &__right{
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:  0 30px 30px 0 ;
  width: 100px;
  height: 441px;
  position: absolute;
  // background-color: rgba(0, 0, 0, 0.1);
  z-index: 2;
  right: 100px;
  top: 165px;
  cursor:pointer;
  }
  &__left{
    display:flex;
    justify-content: center;
    align-items: center;
    // border-radius: 30px 0 0 30px;
    border-radius:  30px 0 0 30px;
    width: 100px;
    height: 441px;
    position: absolute;
    // background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;
    left: 100px;
    top: 165px;
    cursor:pointer;  
  }
}

.imageCount {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 2;
  &__center{
    display: flex;
    justify-content: center;
    width:100%;
  }
}

@media (max-width: 768px) {
  body{
    margin:20px 30px;
  }

  .Header {
    padding: 10px 0;
    margin-bottom:30px;
    &__logo {
      width: 35vw;
    }

    &__links {
      text-transform: uppercase;
      font-size:1em;
      gap: 60px;
    }
  }

  .Banner{
    justify-content: flex-start;
    height:160px;
    &__text{
      margin:0 20px;
      font-size: 34px;
      width: 330px;
    }
    &__home{
    height:160px;
    }
    &__about{
      height:160px;
  }
    & img{
    height:160px;
    }
  }

  .Card{
    width: 100%;
    height: 350px;
    &__wrapper{
      background-color: white;
      width: 100%;
      padding:0;
      gap:25px;
    }
    &__gradient{
      width: 100%;
      height:100%;
    }
    & a{
      width :100%;
    }
    &__title{
      top:275px;
      font-size:24px;
    }
  }
  .Footer{
  & img{
    width: 25vw;
  }
  & p{
    margin-top:20px;
    font-size: 20px;
    width: 190px;
    text-align: center;
    padding-bottom:50px;
    }
  }

  .Collapse__wrapper{
    max-width:100%;
  }

  .Error404{
      & h1 {
        font-size: 8.5em;
        margin: 1em;
      }
      & h2{
        display:inline;
        font-size:24px;
        text-align: center;
        // width: 300px;
      }
      &__link{
        margin-bottom:150px;
        font-size:20px;
      }
    &__span{
      display: block;
    }
  }
  .Collapse{
    &__container{
      flex-direction: column;
      gap:20px;
      margin-top:10px;
    }
    &__wrapper{
      margin:0;
    }
    &__content--inner{
    font-size:20px;
  }
  .centerArrows{
    width:100%;
  }
}

  .carrousel{
    &__right{
      right: 25px;
    }
    &__left{
      left: 25px;
    }
  }

  .centerArrows{
    width:25%;
  }

  .location{
      &__details p{
      font-size: 24px;
      font-weight: 600;
    }
    &__container{
      flex-direction: column;
    }
  }

  .owner{
    flex-direction: row-reverse;
    max-width: 100%;
    justify-content: space-between;
    &__stars{
      padding-left: 13px;
      width: 30px;
      height: 30px;
    }
    & p{
      display: flex;
      align-items: center;
      margin:0;
    }
  }
}